body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.region {
  color: blue;
  border: 1px solid black;
}

.selected-region {
  border: 1px solid red;
}

input#url-range-spec  {
  background-color: yellow;
  border: 1px solid green;
  width: 100%;
}
